{% extends 'base.html' %}

{% block title %}
Ваши посты на сайте
{% endblock %}

{% block content %}
<div class="container">
    <h1>Ваши посты на сайте</h1>

    {% if articles|length > 0 %}

        {% for el in articles%}
        <div class="alert alert-info perenos your">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Дата: {{ el.date.date() }}</b></p>
            <a href="/your-posts/{{ el.id }} "class="btn btn-warning">Детальнее</a>

        </div>
        {% endfor %}
    {% else %}
    <p>У вас еще нет статей на сайте</p>
    {% endif %}
</div>
{% endblock %}
