.img-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
}

body {
    background-color: #F0F0F0; /* Светло-серый цвет фона */
}

.btn-warning {
    background-color: #FFC700;
}

.btnorange {
    background-color: #FFC700;
}

.otpravit {
    margin-bottom: 15px;
}

form {
    width: 500px;
}

.avatar2 {
    margin-bottom: 5px;
}

.avatar {
    margin-bottom: 30px;
}

.mail {
    margin-bottom: 0px;
}

.polz_avatar {
    margin-right: 10px;
    height: 64px;
    width: 156px;
}

.alert-info {
    background-color: #CECECE;
    outline: none;
    border: none;
    color: #000000;
}

.perenos {
    word-break: break-all;
}

.img-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #FFC700;
}

a {
    text-decoration: none;
    color: #FFC700;
}

a:hover {
    text-decoration: none;
}


.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: none;
    text-shadow: none;
}

.post_add{
    background-color: #FFF;
}

.last-posts{
    margin-top: 50px;
}

