
body {
    background-color: #E0E0E0; /* Светло-серый цвет фона */
    height: 100%;
    margin: 0;
}

.page {
    position: relative; /* позиционирование к .page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-warning {
    background-color: #ffA500;/* был #FFC700*/
    border-color: #f0f0f0; /* Цвет светло-серой границы при наведении */
}

.content {
    flex: 1;
}

.user-details {
    color: #333; /* Цвет текста темнее (замените #333 на ваш желаемый цвет) */
    font-size: 24px; /* Размер шрифта увеличен (замените 16px на ваш желаемый размер) */
}

.btnorange {
    background-color: #ffA500;
    border-color: #f0f0f0; /* Цвет светло-серой границы при наведении */
}

/* Общий стиль для кнопки */
.button {
  padding: 10px 20px;
  background-color: #ffffff; /* Белый фон кнопки */
  color: #ffA500; /* Оранжевый цвет текста кнопки */
  border: 2px solid #ffA500; /* Оранжевый цвет границы кнопки */
  border-radius: 5px; /* Закругление углов кнопки */
  text-decoration: none; /* Убрать подчеркивание у текста кнопки */
  display: inline-block;
}

/* При наведении добавляем светло-серый контур */
.button:hover {
  border-color: #b0b0b0; /* Цвет светло-серой границы при наведении */
}

.otpravit {
    margin-bottom: 15px;
}

/* регистрация */
form {
    width: 500px;
}

.avatar2 {
    margin-bottom: 5px;
}

.avatar {
    margin-bottom: 30px;
}

.mail {
    margin-bottom: 0px;
}
/* регистрация */

.alert-info {
    background-color: #CECECE;
    outline: none;
    border: none;
    color: #000000;
}

.perenos {
    overflow-wrap: break-word; /* Добавлено свойство для переноса по буквам */
}

.img-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffA500;
}

a {
    text-decoration: none;
    color: #FFC700;
}

a:hover {
    text-decoration: none;
}


.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: none;
    text-shadow: none;
}

.post_add{
    background-color: #FFF;
}

.last-posts{
    margin-top: 50px;
}

.profile-avatar{
    margin-left: 140px;
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffA500;
}

.button.quit {
    position: absolute;
    margin-top: 15px;
    min-height: 47.2px;
    width: auto; /* Изменено значение ширины на 'auto' */
    margin-left: 208px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #ffA500;
    border: 2px solid #ffA500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button.quit:hover {
    border-color: #b0b0b0;
}

.button.profile-redact{
    position: absolute;
    margin-top: 15px;
    min-height: 47.2px;
    width: 178px;
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #ffA500;
    border: 2px solid #ffA500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    line-height: 1; /* Уменьшил значение line-height для уменьшения интервала между строками */
    text-align: center; /* Выравнивание текста по центру */
}

.button.profile-redact:hover {
    border-color: #b0b0b0;
}

.user-description {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-wrap: break-word; /* Добавлено свойство для переноса по буквам */
    max-width: 430px;
}

.button.redact-confirm{
    margin-top: 15px;
    min-height: 47.2px;
    width: 185px;
    margin-left: 200px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #ffA500;
    border: 2px solid #ffA500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    line-height: 1; /* Уменьшил значение line-height для уменьшения интервала между строками */
    text-align: center; /* Выравнивание текста по центру */
}

.button.redact-confirm:hover {
    border-color: #b0b0b0;
}

.description-redact {
    margin-top: 30px;
    text-align: center;
    max-width: 400px;
    max-height: 400px;
    overflow: auto;
}

.description-redact label {
    display: block;
    margin-right: 230px;
    margin-bottom: 0px;
}

.description-redact textarea {
    width: calc(100% - 20px); /* Учесть внутренние поля для полной ширины */
    max-width: 100%;
    max-height: calc(100% - 40px); /* Учесть внутренние поля для полной высоты */
    resize: none;
    border: 1px solid #888; /* Гладкая серая граница */
    border-radius: 8px; /* Радиус скругления углов */
    padding: 10px; /* Внутренние поля вокруг текста */
    box-sizing: border-box; /* Учесть границу в расчетах ширины и высоты */
}


.description-redact .button.redact-confirm {
    /* Стили кнопки */
}

.avatar-update{
    margin-top: 30px;
}

.profile-redact-form {
    max-width: 600px;  /* максимальная ширина формы */
    max-height:900px;
    padding: 20px;      /* Поля вокруг формы */
    background-color: #CECECE;
    outline: none;
    border: none;
    color: #000000;
    margin: 0;  /* -центрирование по горизонтали */
    margin-left: 30px;
}

.img-qr{
    width: 128px;
    height: 128px;
}

.container {
    position: relative; /* Добавляем относительное позиционирование для потомков */
}

.profile_avatar_description {
    width: 50%;
    float: left;
    margin-right: 20px; /* Добавлен отступ справа для лучшего визуального восприятия */
}

.profile_posts {
    position: absolute; /* Абсолютное позиционирование для правой части страницы */
    right: 0;
    top: 0;
    width: 50%; /* Занимает половину ширины родителя (container) */
    box-sizing: border-box; /* Учитываем границы и отступы внутри элемента при вычислении его размера */
    margin-top: 0; /* Убираем отступ сверху, который был добавлен в предыдущем коде */
    margin-top: 20px;
}

/* Опционально: задайте стили для отображения постов в блоке */
.alert.perenos {
    margin-bottom: 15px; /* Регулируйте отступ между постами */
}

.user-details {
    flex: 1; /* Расширяет user-details на всю доступную ширину */
}

.profile-left {
    position: absolute; /* Абсолютное позиционирование для левой части страницы */
    left: 0;
    top: 0;
    width: 50%; /* Занимает половину ширины родителя (container) */
    box-sizing: border-box; /* границы и отступы внутри элемента при вычислении его размера */
    margin-bottom: 20px; /* отступ снизу, чтобы улучшить визуальное разделение блоков */
    margin-top: 20px;
}

/* Очистка плавания */
.container::after {
    content: "";
    display: table;
    clear: both;
}

/* Медиазапрос для изменения стилей при уменьшении ширины экрана */
@media (max-width: 999px) {
    .profile-left{
        position: relative; /* Возвращаем относительное позиционирование для потоковых элементов */
        width: 100%; /* На маленьких экранах блоки могут занимать всю ширину */
    }
    .profile_posts {
        position: relative; /* Возвращаем относительное позиционирование для потоковых элементов */
        width: 100%; /* На маленьких экранах блоки могут занимать всю ширину */
        margin-top: 80px;
    }
}

.white-placeholder::placeholder {
    color: #fff;
    opacity: 1; /* Убирает стандартный серый цвет плейсхолдера в некоторых браузерах */
}

.post-comments{
    margin-top: 50px;
}

.comment {
    margin-bottom: 20px;  /* Регулируйте это значение, чтобы управлять расстоянием между комментариями */
}

.comment-text {
    margin-bottom: 0px;  /* Регулируйте это значение, чтобы управлять расстоянием между текстом комментария и его датой */
}

.comment-date {
    display: block;
    /* Можете добавить здесь нужные стили для даты комментария */
}

.post-commdnt-submit{
    margin-top: 10px;
}

.big-avatar {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffA500;
}

.comment-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffA500;
    margin-right: 10px;
}

.post-id-avatar {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffA500;
    margin-top: 10px;
}

.comment-container {
    margin-bottom: 10px;
}

.comment-content {
    margin: 0;
}

/* Стиль кнопки "Детальнее" */
.btn.btn-warning {
    border-color: #ccc; /* Измените цвет обводки на серый (#ccc) или другой по вашему выбору */
}

/* При наведении на кнопку "Детальнее" */
.btn.btn-warning:hover {
    border-color: #999; /* Измените цвет обводки при наведении на серый тон (#999) или другой по вашему выбору */
}

.form-container {
  display: flex;
}

.form-inputs {
  width: 70%;
}

.form-file {
  width: 25%;
  text-align: center;
  margin-left: 5px; /* Добавляем небольшое отступление между формой и кнопкой добавить файлы */
}

#file-preview-container {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
}

#file-preview-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.btn-hide{
    margin: 0;
}

.btn-del{
    width: 80px;
    margin-left: px;
}

.btn-del2{
    width: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.post-image{
    width: 288px;
}

.like-button {
    width: 32px;
    height: 32px;
    padding: 0; 
    border: none;
    background: none;
}

.like-button img {
    width: 100%;
    height: 100%;
}

.post-image {
    max-width: 128px;
    max-height: 128px;
    object-fit: cover; /* Масштабирование изображения с сохранением пропорций и обрезкой */
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px; /* Отступ сверху */
    left: 0;
    top: 0;
    width: 100%; /* Занимает всю ширину экрана */
    height: 100%; /* Занимает всю высоту экрана */
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); /* Прозрачный черный цвет фона */
}

/* Стили для изображения в модальном окне */
.modal-content {
    margin: auto;
    display: block;
    width: 90%; /* Ширина изображения */
    max-width: 800px; /* Максимальная ширина изображения */
    max-height: calc(100% - 40px); /* Максимальная высота изображения (высота экрана минус отступы) */
    overflow-y: auto; /* Включаем вертикальный скролл, если изображение слишком высокое */
}

/* Стили для кнопки закрытия модального окна */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff; /* Цвет текста */
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #999; /* Цвет текста при наведении */
    text-decoration: none;
    cursor: pointer;
}

.author-link {
    color: #333; /* Цвет текста для ссылки на автора группы */
    text-decoration: none;
    font-size: 14px;
}

.join-button {
    border-radius: 5px; /* Радиус скругления углов */
    background-color: orange; /* Оранжевый фон */
    color: white; /* Белый цвет текста */
    padding: 5px 10px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    cursor: pointer; /* Изменяем курсор при наведении */
    margin-bottom: 10px; /* Отступ снизу */
}

.join-button:hover {
    background-color: darkorange; /* Оранжевый фон при наведении */
}


.join-code-input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.group-name {
    background-color: orange;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
}

.group-name:hover {
    background-color: darkorange;
}

.group-name.dark-text {
    color: #333; /* Тёмно-серый цвет текста */
}

/
.post-image-add{
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-update{
    margin-top: 10px;
}

.img-avatar-group-post{
    width: 96px;
    height: 96px;
}

.group-post{
    margin-left: 15px;
}

.post-image-edit {
    max-width: 300px; /* Максимальная ширина изображения */
    max-height: 200px; /* Максимальная высота изображения */
    float: left; /* Выравнивание по левому краю */
}

.image-container {
    position: relative; /* Позиционирование контейнера */
    display: inline-block; /* Отображение в виде блока */
    margin: 0 10px 10px 0; /* Отступы между изображениями */
}

.delete-form {
    position: absolute; /* Абсолютное позиционирование формы */
    top: 0; /* Расположение сверху */
    right: 0; /* Расположение справа */
    margin: 5px; /* Отступы */
}

.img-preview {
    max-width: 200px; /* Максимальная ширина изображения */
    max-height: 200px; /* Максимальная высота изображения */
    text-align: left; /* Выравнивание по левому краю */
}

.choose-img{
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none; /* Скрыть стандартный вид input для файлов */
}

.input-field {
    transition: border-color 0.2s ease-in-out;
    border-color: #ced4da; /* Стандартный цвет обводки */
}

.input-field:focus {
    border-color: #80bdff; /* Цвет обводки при фокусе */
}

.input-field.error {
    border-color: #dc3545; /* Цвет обводки при ошибке */
}

.avatar-container {
    position: relative;
    width: 64px; /* Ширина аватара */
    flex-shrink: 0; /* Запрещаем аватару сжиматься */
    margin-right: 10px; /* Отступ между аватаром и контентом */
}

#bookmarkButton {
    background-color: transparent;
    border: none;
    padding: 0;
}

#bookmarkButton img {
    width: 48px;
    height: 48px;
}
