
body {
    background-color: #E0E0E0; /* Светло-серый цвет фона */
    height: 100%;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-warning {
    background-color: #ffA500;/* был #FFC700*/
    border-color: #f0f0f0; /* Цвет светло-серой границы при наведении */
}

.content {
    flex: 1;
}

.btnorange {
    background-color: #ffA500;
    border-color: #f0f0f0; /* Цвет светло-серой границы при наведении */
}

/* Общий стиль для кнопки */
.button {
  padding: 10px 20px;
  background-color: #ffffff; /* Белый фон кнопки */
  color: #ffA500; /* Оранжевый цвет текста кнопки */
  border: 2px solid #ffA500; /* Оранжевый цвет границы кнопки */
  border-radius: 5px; /* Закругление углов кнопки */
  text-decoration: none; /* Убрать подчеркивание у текста кнопки */
  display: inline-block;
}

/* При наведении добавляем светло-серый контур */
.button:hover {
  border-color: #b0b0b0; /* Цвет светло-серой границы при наведении */
}

.otpravit {
    margin-bottom: 15px;
}

/* регистрация */
form {
    width: 500px;
}

.avatar2 {
    margin-bottom: 5px;
}

.avatar {
    margin-bottom: 30px;
}

.mail {
    margin-bottom: 0px;
}
/* регистрация */

.alert-info {
    background-color: #CECECE;
    outline: none;
    border: none;
    color: #000000;
}

.perenos {
    word-break: break-all;
}

.img-avatar {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffA500;
}

a {
    text-decoration: none;
    color: #FFC700;
}

a:hover {
    text-decoration: none;
}


.custom-link {
    color: inherit;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: none;
    text-shadow: none;
}

.post_add{
    background-color: #FFF;
}

.last-posts{
    margin-top: 50px;
}

.profile-avatar{
    margin-left: 140px;
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffA500;
}

.button.quit {
    position: absolute;
    margin-top: 15px;
    min-height: 47.2px;
    width: 178px;
    margin-left: 208px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #ffA500;
    border: 2px solid #ffA500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.button.quit:hover {
    border-color: #b0b0b0;
}

.button.profile-redact{
    position: absolute;
    margin-top: 15px;
    min-height: 47.2px;
    width: 178px;
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #ffA500;
    border: 2px solid #ffA500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    line-height: 1; /* Уменьшил значение line-height для уменьшения интервала между строками */
    text-align: center; /* Выравнивание текста по центру */
}

.button.profile-redact:hover {
    border-color: #b0b0b0;
}

.user-description {
    margin-top: 10px; /* Ваш желаемый верхний отступ */
    margin-bottom: 10px; /* Ваш желаемый нижний отступ */

}

.button.redact-confirm{
    position: absolute;
    margin-top: 15px;
    min-height: 47.2px;
    width: 185px;
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #ffA500;
    border: 2px solid #ffA500;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    line-height: 1; /* Уменьшил значение line-height для уменьшения интервала между строками */
    text-align: center; /* Выравнивание текста по центру */
}

.button.redact-confirm:hover {
    border-color: #b0b0b0;
}

.description-redact {
    margin-top: 20px;
    text-align: center; /* Выравнивание текста по центру в блоке */
}

.description-redact label {
    display: block; /* Сделаем элемент блочным, чтобы он занимал всю ширину */
    margin-bottom: 10px; /* Нижний отступ между меткой и текстовым полем */
}

.description-redact textarea {
    width: 100%; /* Занимать 100% ширины блока */
}

.description-redact .button.redact-confirm {
    /* По желанию, можете настроить стили кнопки */
}
