{% extends 'base.html' %}

{% block title %}
    Административная панель
{% endblock %}

{% block content %}
<div class="container">
    <h1>Административная панель</h1>
    <div class="admin-actionsmy-3 p-3 bg-body rounded shadow-sm">
        <div class="user-roles">
            <h2>Пользователи</h2>
            <ul class="user-list">
                {% for user in all_users %}
                    <div class="d-flex text-body-secondary pt-3">
                        <a class="user-link" href='/profile/{{ user.id }}'>
                            <img class="img-avatar" src="{{ user.avatar_url }}" alt="{{ user.login }} Avatar">
                        </a>
                        <div class="d-flex flex-column ms-3">
                            <p class="textpr pb-1 mb-0 small lh-sm">
                                <a class="btn d-flex d-block text-gray-dark" href='/profile/{{ user.id }}'>@{{ user.login }}</a>
                                {% if user.description %}
                                    <span>{{ user.description }}</span>
                                {% endif %}
                            </p>
                            <div class="d-flex align-items-center">
                                <div class="dropdown me-2">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {% if user.is_admin %}
                                            Администратор
                                        {% elif user.is_moderator %}
                                            Модератор
                                        {% else %}
                                            Пользователь
                                        {% endif %}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" onclick="assignRole('{{ user.id }}', 'user')">Пользователь</a></li>
                                        <li><a class="dropdown-item" href="#" onclick="assignRole('{{ user.id }}', 'moderator')">Модератор</a></li>
                                        <li><a class="dropdown-item" href="#" onclick="assignRole('{{ user.id }}', 'admin')">Администратор</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {% if user.banned_users %}
                                            Забанен: {{ user.banned_users.reason }}
                                        {% else %}
                                            Забанить
                                        {% endif %}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#" onclick="banUser('{{ user.id }}', 'reason1')">Причина бана 1</a></li>
                                        <li><a class="dropdown-item" href="#" onclick="banUser('{{ user.id }}', 'reason2')">Причина бана 2</a></li>
                                        <!-- Добавьте другие причины бана по аналогии -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
function assignRole(user_id, role) {
    console.log(user_id, role)
    fetch(`/admin/assign_role/${user_id}/${role}`, { method: 'POST' })
        .then(response => {
            if (response.ok) {
                // Обновить страницу или выполнить другие действия при успешном изменении роли
                location.reload();
            } else {
                console.error('Ошибка при изменении роли');
            }
        })
        .catch(error => console.error('Ошибка при отправке запроса:', error));
}
function banUser(user_id, reason) {
    console.log(user_id, reason);
    fetch(`/admin/ban_user/${user_id}/${reason}`, { method: 'POST' })
        .then(response => {
            if (response.ok) {
                // Обновить страницу или выполнить другие действия при успешном бане пользователя
                location.reload();
            } else {
                console.error('Ошибка при бане пользователя');
            }
        })
        .catch(error => console.error('Ошибка при отправке запроса:', error));
}
</script>
{% endblock %}

