<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="page">
        <header class="p-3 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="{{ url_for('main.index') }}" class="nav-link px-2 text-white">Главная</a></li>
                        <li><a href="{{ url_for('main.about') }}" class="nav-link px-2 text-white">О нас</a></li>
                        <li><a href="{{ url_for('main.posts') }}" class="nav-link px-2 text-white nav-link">Все посты</a></li>
                        <li><a href="{{ url_for('main.your_posts') }}" class="nav-link px-2 text-white nav-link">Ваши посты</a></li>
                        <li><a href="{{ url_for('main.create_article') }}" class="nav-link px-2 text-white nav-link">Создать</a></li>
                    </ul>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Поиск поста" aria-label="Search">
                    </form>

                    <div class="text-end">
                        <!-- Добавляем проверку, что пользователь аутентифицирован -->
                    {% if g.current_user %}
                        <!-- Если пользователь аутентифицирован, показываем другие элементы (например, ссылку на профиль) -->
                        <a href="{{ url_for('main.user_profile_by_id', user_id=current_user.id) }}" class="btn btn-outline-light me-2">
                            {{ current_user.login }}
                        </a>
                        <img class="img-avatar" src="{{ g.current_user_avatar }}" alt="User Avatar">
                        <a href="{{ url_for('main.logout') }}" class="btn btn-outline-light">Выйти</a>
                    {% else %}
                        <!-- Если пользователь не аутентифицирован, показываем кнопки Войти и Зарегистрироваться -->
                        <a href="{{ url_for('main.login') }}" class="btn btn-outline-light me-2">Войти</a>
                        <a href="{{ url_for('main.registration') }}" class="btn btn-warning">Зарегистрироваться</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer class="py-3 my-4 footer">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
            <p class="text-center text-body-secondary">Projects & Ideas</p>
        </footer>
    </div>
</body>

</html>
