<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <script>
        function toggleLike(user_id) {
            fetch(`/like/${user_id}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    // Обновите отображение количества лайков на странице
                    const likeCountElement = document.getElementById(`like-count-${user_id}`);
                    if (likeCountElement) {
                        likeCountElement.innerText = data.likes;
                    }
                })
                .catch(error => console.error('Error toggling like:', error));
        }
    </script>
</head>

<body>
    <div class="page">
        <header class="p-3 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="{{ url_for('main.index') }}" class="nav-link px-2 text-white">Главная</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="postsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Посты
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="postsDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('main.posts') }}">Все посты</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.your_posts') }}">Ваши посты</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.bookmarks') }}">Избранное</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.create_article') }}">Создать пост</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Группы
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('main.groups') }}">Ваши группы</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.create_group') }}">Создать группу</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="conferenses" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Конференции
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="conferenses">
                                <li><a class="dropdown-item" href="https://conf.profil.mos.ru/inj" target="_blank">Инженеры будущего</a></li>
                                <li><a class="dropdown-item" href="https://conf.profil.mos.ru/academ" target="_blank">Наука для жизни</a></li>
                                <li><a class="dropdown-item" href="https://conf.profil.mos.ru/med" target="_blank">Старт в медицину</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('main.allconferences') }}">Все конференции</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" method="post" action="{{ url_for('main.search_posts') }}">
                        <div class="input-group">
                            <input type="search" class="form-control form-control-dark text-bg-dark text-white white-placeholder" placeholder="Поиск постов" aria-label="Search" name="search_term" id="search-input">
                            <button type="submit" class="btn btn-outline-light">Искать</button>
                        </div>
                    </form>
                    <div class="text-end">
                        {% if g.current_user and g.current_user.is_admin %}
                            <a href="{{ url_for('main.admin.admin_panel') }}" class="btn btn-outline-light me-2">Админ Панель</a>
                        {% endif %}
                            <!-- Добавляем проверку, что пользователь аутентифицирован -->
                        {% if g.current_user and g.current_user.is_authenticated %}
                            <!-- Если пользователь аутентифицирован, показываем его имя, аватар и ссылку для выхода -->
                            <a href="{{ url_for('main.user_profile_by_id', user_id=current_user.id) }}" class="btn btn-outline-light me-2">
                                {{ current_user.login }}
                            </a>
                            <img class="img-avatar" src="{{ g.current_user_avatar }}" alt="User Avatar">
                            <a href="{{ url_for('main.logout') }}" class="btn btn-outline-light">Выйти</a>
                        {% else %}
                            <!-- Если пользователь не аутентифицирован, показываем кнопки Войти и Зарегистрироваться -->
                            <a href="{{ url_for('main.login') }}" class="btn btn-outline-light me-2">Войти</a>
                            <a href="{{ url_for('main.registration') }}" class="btn btn-warning">Зарегистрироваться</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <footer class="py-3 my-4 footer">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
            <p class="text-center text-body-secondary">Projects & Ideas</p>
        </footer>
    </div>

</body>

</html>

<script>
function searchPosts() {
    var searchTerm = document.getElementById('search-input').value;
    console.log('Поиск по запросу:', searchTerm);
}

document.addEventListener('DOMContentLoaded', function () {
    // Найти все кнопки удаления с классом btn-delete-confirm
    var deleteButtons = document.querySelectorAll('.btn-delete-confirm');

    // Добавить обработчик событий для каждой кнопки
    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            // Остановить действие по умолчанию (отправку формы)
            event.preventDefault();

            // Отобразить всплывающее окно с подтверждением
            var isConfirmed = confirm('Вы уверены, что хотите удалить этот пост?');

            // Если пользователь подтвердил удаление, отправить форму
            if (isConfirmed) {
                var form = button.closest('form');
                form.submit();
            }
        });
    });
});
</script>
