{% extends 'base.html' %}

{% block title %}
    Посты группы {{ group.name }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="">
        <h1>{{ group.name }}</h1>
        <h4>Уникальный код: {{ group.join_code }}</h4>
        <h2>Посты группы</h2>
        {% for post in group_posts %}
            <div class="alert alert-info perenos">
                <div class="d-flex align-items-start">
                    <div>
                        <a class="user-link" href='/profile/{{ post.author.id }}'>
                            <img class="img-avatar img-avatar-group-post" src="{{ post.author.avatar_url }}" alt="{{ post.author.login }} Avatar">
                        </a>
                    </div>
                    <div class="ml-3 group-post">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.intro }}</p>
                        <p><b>Дата: {{ post.date.date() }}</b></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/posts/{{ post.id }}" class="btn btn-warning btn-det">Детальнее</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if not group_posts %}
            <p>В этой группе ещё нет постов</p>
        {% endif %}
    </div>
</div>
{% endblock %}


