{% extends 'base.html' %}

{% block title %}
Ваши группы
{% endblock %}

{% block content %}
<div class="container">
    <h1>Ваши группы</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('main.join_group') }}" method="POST">
        <input class="join-code-input" type="text" name="join_code" placeholder="Введите код группы">
        <button class="join-button" type="submit">Присоединиться</button>
    </form>

    {% if user_groups|length > 0 %}
       {% for group in user_groups %}
            <div class="alert alert-info perenos your">
                <div class="d-flex justify-content-between">
                    <div class="group-info d-flex align-items-center">
                        {% if group.author.avatar_url %}
                            <a class="user-link" href='/profile/{{ group.author.id }}'>
                                <img class="img-avatar" src="{{ group.author.avatar_url }}" alt="{{ group.author.login }} Avatar">
                            </a>
                        {% else %}
                            <a class="user-link" href='/profile/{{ group.author.id }}'>
                                <img class="img-avatar" src="{{ url_for('static', filename='default-avatar.png') }}" alt="Default Avatar">
                            </a>
                        {% endif %}
                        <div class="group-details ml-2">
                            <a class="group-name dark-text" href="{{ url_for('main.group_posts', group_id=group.id) }}">{{ group.name }}</a>
                            <p>Создатель: <a href='/profile/{{ group.author.id }}' class="author-link text-dark-gray">@{{ group.author.login }}</a></p>
                        </div>
                        {% if current_user.is_authenticated and current_user.id == group.author.id %}
                            <form method="post" action="{{ url_for('main.delete_group', group_id=group.id) }}" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <p>Вы пока не состоите в ни одной группе</p>
    {% endif %}
</div>
{% endblock %}
