{% extends 'base.html' %}
{% block title %}
    Вход
{% endblock %}
{% block content %}


    <div class="container mt-4">
        <h1>Войти в аккаунт</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form action="{{ url_for('main.login') }}" method="POST">
            <input type="text" class="form-control" name="login" id="login" placeholder="Введите логин или email"><br>
            <input type="password" class="form-control" name="password" id="password" placeholder="Введите пароль"><br>
            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <button class="btn btn-warning" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}
