{% extends 'base.html' %}

{% block title %}
    Обновление статьи
{% endblock %}

{% block content %}

<div class="container mt-5">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>Обновление статьи</h1>
    <form id="update-form" method="post" action="{{ url_for('main.post_update', id=article.id) }}" enctype="multipart/form-data" onsubmit="updatePost(event)">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>
        <input type="hidden" name="existing_file" value="{{ article.file }}">
        <input type="hidden" name="deleted_files" id="deleted-files" value="">

        <!-- Выбор группы для отображения -->
        <div class="form-group">
            <label>Выберите место публикации:</label><br>
            <input type="checkbox" id="all" name="groups" value="all">
            <label for="all">Все</label><br>
            {% set displayed_groups = {} %}
            {% for group in groups %}
                {% if group.id not in displayed_groups %}
                    <input type="checkbox" id="group_{{ group.id }}" name="groups" value="{{ group.id }}"
                           {% if group.id in group_ids %}checked{% endif %}>
                    <label for="group_{{ group.id }}">{{ group.name }}</label><br>
                    {% set _ = displayed_groups.update({group.id: True}) %}
                {% endif %}
            {% endfor %}
            <!-- Добавим также группы, автором которых является текущий пользователь -->
            {% for author_group in current_user.authored_groups %}
                {% if author_group.id not in displayed_groups %}
                    <input type="checkbox" id="author_group_{{ author_group.id }}" name="groups" value="{{ author_group.id }}"
                           {% if author_group.id in group_ids %}checked{% endif %}>
                    <label for="author_group_{{ author_group.id }}">{{ author_group.name }}</label><br>
                    {% set _ = displayed_groups.update({author_group.id: True}) %}
                {% endif %}
            {% endfor %}
            <!-- Добавим группы, в которых пользователь состоит -->
            {% for group in current_user.groups %}
                {% if group not in current_user.authored_groups %}
                    {% if group.id not in displayed_groups %}
                        <input type="checkbox" id="user_group_{{ group.id }}" name="groups" value="{{ group.id }}"
                               {% if group.id in group_ids %}checked{% endif %}>
                        <label for="user_group_{{ group.id }}">{{ group.name }}</label><br>
                        {% set _ = displayed_groups.update({group.id: True}) %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Поле для загрузки изображения -->
        <label for="file" class="btn btn-primary choose-img join-code-input">
            Выберите новые файлы
            <input type="file" name="file" id="file" style="display:none" accept="*/*" multiple="true">
        </label>

        <div id="existing-files-preview" class="d-flex flex-column">
            {% if article.file %}
                {% set files = article.file.split(',') %}
                {% for file in files %}
                    <div class="file-preview d-flex align-items-center justify-content-between" data-file-name="{{ file }}">
                        <div class="file-info">
                            {% if file.endswith('.jpg') or file.endswith('.jpeg') or file.endswith('.png') or file.endswith('.gif') %}
                                <img src="{{ url_for('static', filename='post_files/' + file) }}" class="post-image-edit">
                            {% else %}
                                <div class="file-icon">
                                    <i class="fas fa-file-alt"></i>
                                </div>
                                <span>{{ file }}</span>
                            {% endif %}
                        </div>
                        <button type="button" class="btn btn-danger btn-sm delete-btn" onclick="confirmAndDelete('{{ file }}')">Удалить</button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div id="file-preview-container-update" class="mt-3"></div> <!-- Здесь будет отображаться предпросмотр новых изображений -->

        <br>
        <button type="button" class="btn btn-success btn-update" onclick="updatePost(event)">Обновить</button>
    </form>
</div>

<script>
document.getElementById('file').addEventListener('change', function(event) {
    var previewContainer = document.getElementById('file-preview-container-update');
    previewContainer.innerHTML = ''; // Очищаем превью перед добавлением новых файлов

    var files = event.target.files;
    for (var i = 0; i < files.length; i++) {
        var file = files[i];

        var div = document.createElement('div');
        div.className = 'file-preview'; // Добавляем класс для стилизации

        var fileNameContainer = document.createElement('div');
        fileNameContainer.innerText = file.name; // Устанавливаем название файла в текст элемента
        div.appendChild(fileNameContainer);

        var deleteButton = document.createElement('button');
        deleteButton.className = 'btn btn-danger btn-sm delete-btn';
        deleteButton.innerText = 'Удалить';
        deleteButton.onclick = function() {
            div.remove(); // Удаляем превью файла при нажатии на кнопку удаления
        };
        div.appendChild(deleteButton);

        previewContainer.appendChild(div);
    }
});

// Добавляем каждый выбранный файл к FormData
function updateFormWithFiles() {
    var files = document.getElementById('file').files;
    var formData = new FormData();

    for (var i = 0; i < files.length; i++) {
        formData.append('file', files[i]);
    }

    return formData;
}

function updatePost(event) {
    event.preventDefault(); // Предотвращаем стандартное действие формы

    let form = document.getElementById('update-form');
    let formData = new FormData(form);

    // Очистим скрытое поле groups
    formData.delete('groups');

    // Получим все выбранные группы и установим их в FormData
    var selectedGroupIds = [];
    var checkboxes = document.querySelectorAll('input[name="groups"]:checked');
    checkboxes.forEach(function(checkbox) {
        selectedGroupIds.push(checkbox.value);
    });
    formData.set('groups', selectedGroupIds.join(',')); // Всегда устанавливаем список значений

    // Очищаем все файлы, загруженные в FormData
    formData.delete('file');

    // Добавляем каждый файл с общим ключом 'file'
    formData = updateFormWithFiles();

    // Удаляем из FormData файлы, которые нужно удалить
    var imagesToDelete = document.querySelectorAll('.image-container img');
    for (var i = 0; i < imagesToDelete.length; i++) {
        var imageName = imagesToDelete[i].src.split('/').pop(); // Получаем имя файла из URL
        formData.delete('file_' + imageName); // Удаляем файл из FormData
    }

    fetch(form.action, {
        method: 'POST',
        body: formData,
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Ошибка обновления поста');
        }
        // Перенаправляем пользователя на страницу подробностей поста
        window.location.href = response.url;
    })
    .catch(error => {
        console.error('Ошибка при обновлении поста:', error);
        console.log('FormData:', formData); // Выведем FormData в консоль
        alert('Произошла ошибка при обновлении поста. Проверьте консоль для дополнительной информации.');
    });
}

function confirmAndDelete(image) {
    if (confirm('Вы уверены, что хотите удалить этот файл?')) {
        deleteImage(image);
    }
}

async function deleteImage(image) {
    console.log('Удаляем файл:', image); // Проверка, отправляется ли запрос на удаление
    try {
        const response = await fetch(`/posts/{{ article.id }}/delete_image/${image}`, {
            method: 'DELETE', // Метод DELETE для удаления файла
            headers: {
                'Content-Type': 'application/json',
            }
        });
        const data = await response.json();
        if (!response.ok) {
            throw new Error(data.message || 'Ошибка удаления файла');
        }
        alert(data.message);

        // Перебираем все элементы с классом .file-preview и удаляем тот, который содержит удаляемый файл
        var filePreviews = document.querySelectorAll('.file-preview');
        filePreviews.forEach(function(filePreview) {
            if (filePreview.dataset.fileName === image) {
                filePreview.remove();
            }
        });
    } catch (error) {
        console.error('Ошибка:', error);
        alert('Произошла ошибка при удалении файла: ' + error.message);
    }
}
</script>

{% endblock %}