{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<div class="container perenos konkretniy-post">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-md-2">
            <img src="{{ article.author.avatar_url() }}" alt="Author Avatar" class="img-avatar big-avatar post-id-avatar" onclick="window.location.href='{{ url_for('main.user_profile_by_id', user_id=article.author.id) }}';">
        </div>
        <div class="col-md-10 perenos">
            <h1>{{ article.title }} {% if article.hidden %}<span style="font-size: 15px; color: gray;">(пост скрыт)</span>{% endif %}</h1>
            <p>{{ article.intro }}</p>
            <p>{{ article.text }}</p>
            {% if article.file %}
                {% set files = article.file.split(',') %}
                {% for file in files %}
                    {% if allowed_file(file) %}
                        {% if file.endswith(('.jpg', '.jpeg', '.png', '.gif')) %}
                            <img src="{{ url_for('static', filename='post_files/' + file.strip()) }}" alt="File Preview" class="img-fluid post-image" data-file-url="{{ url_for('static', filename='post_files/' + file.strip()) }}">
                        {% else %}
                            <button class="btn btn-primary file-button" onclick="openFileModal('{{ url_for('static', filename='post_files/' + file.strip()) }}')">{{ file }}</button>
                        {% endif %}
                    {% else %}
                        <p>Файл {{ file }} не поддерживается</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No files available</p>
            {% endif %}
            {% if article.additional_files %}
                {% for additional_file in article.additional_files %}
                    {% if allowed_file(additional_file) %}
                        {% if additional_file.endswith(('.jpg', '.jpeg', '.png', '.gif')) %}
                            <img src="{{ url_for('static', filename='post_files/' + additional_file) }}" alt="File Preview" class="img-fluid post-image" data-file-url="{{ url_for('static', filename='post_files/' + additional_file) }}">
                        {% else %}
                            <button class="btn btn-primary file-button" onclick="openFileModal('{{ url_for('static', filename='post_files/' + additional_file) }}')">{{ additional_file }}</button>
                        {% endif %}
                    {% else %}
                        <p>Файл {{ additional_file }} не поддерживается</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- Горизонтальная черта -->
            <hr class="my-4">
            <div class="post-actions">
                {% if current_user.is_authenticated and current_user.id == article.author.id %}
                    <form method="post" action="{{ url_for('main.post_delete', id=article.id, next=request.path) }}" class="d-inline">
                        {{ form.hidden_tag() }}
                        <a href="{{ url_for('main.post_update', id=article.id) }}" class="btn btn-warning">Изменить</a>
                        <button type="submit" class="btn btn-danger btn-delete-confirm btn-sm">Удалить</button>
                    </form>

                    <form class="btn-hide float-right d-inline" method="post" action="{{ url_for('main.hide_post', id=article.id) }}">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-secondary btn-sm">{{ 'Раскрыть' if article.hidden else 'Скрыть' }}</button>
                    </form>
                {% endif %}
            </div>

            <div class="post-comments">
                <h2>Комментарии</h2>
                {% if comments %}
                    {% for comment in comments %}
                        <div class="comment-container">
                            <div class="row">
                                <div class="col-md-1">
                                    <img src="{{ comment.avatar_url() }}" alt="Avatar" class="img-avatar comment-avatar">
                                </div>
                                <div class="col-md-10">
                                    <div class="comment-content">
                                        <p class="comment-text">{{ comment.text }}</p>
                                        <small class="text-muted comment-date">{{ comment.date.strftime('%Y-%m-%d %H:%M') }}</small>
                                    </div>
                                    {% if current_user.is_authenticated and current_user.id == comment.author.id %}
                                        <form method="post" action="{{ url_for('main.delete_comment', id=article.id, comment_id=comment.id) }}">
                                            {{ form.hidden_tag() }}
                                            <button type="submit" class="btn btn-danger btn-sm float-right btn-delete-confirm">Удалить</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>На данный момент у поста нет комментариев, напишите первый!</p>
                {% endif %}
            </div>

            <h2>Добавить комментарий</h2>
            <form method="post" action="{{ url_for('main.post_detail', id=article.id) }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.text(class="form-control", placeholder="Введите комментарий") }}
                </div>
                <div class="form-group post-commdnt-submit">
                    {{ form.submit(class="btn btn-primary", value="Прокомментировать") }}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно для просмотра файла -->
<div id="fileModal" class="modal">
    <span class="close">&times;</span>
    <pre id="fileContent" class="modal-content"></pre>
</div>

<!-- Модальное окно для просмотра изображений -->
<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img id="imageModalImage" class="modal-content" onclick="closeImageModal()">
</div>

<script>
// Открыть модальное окно с файлом при клике на изображение
document.querySelectorAll('.post-image').forEach(function(image) {
    image.addEventListener('click', function() {
        const imageUrl = this.getAttribute('data-file-url');
        const modal = document.getElementById("imageModal");
        const imageModal = document.getElementById("imageModalImage");
        imageModal.src = imageUrl;
        modal.style.display = "block";
    });
});

// Закрыть модальное окно при клике на кнопку закрытия
document.querySelectorAll('.close').forEach(function(closeButton) {
    closeButton.addEventListener('click', function() {
        const imageModal = document.getElementById("imageModal");
        const fileModal = document.getElementById("fileModal");
        imageModal.style.display = "none";
        fileModal.style.display = "none";
    });
});

// Изменение курсора при наведении на изображение
document.querySelectorAll('.post-image').forEach(function(image) {
    image.addEventListener('mouseover', function() {
        this.style.cursor = 'pointer';
    });
});

// Открыть модальное окно с файлом при клике на кнопку файла
function openFileModal(fileUrl) {
    const modal = document.getElementById("fileModal");
    const fileContent = document.getElementById("fileContent");

    // Создаем AJAX-запрос для загрузки содержимого файла
    const xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                // В случае успешной загрузки файла, отображаем его содержимое в модальном окне
                fileContent.textContent = xhr.responseText;
                modal.style.display = "block";
            } else {
                // Если возникла ошибка при загрузке файла, выводим сообщение об ошибке
                fileContent.textContent = 'Ошибка загрузки файла';
                modal.style.display = "block";
            }
        }
    };
    xhr.open('GET', fileUrl, true);
    xhr.send();
}

// Закрыть модальное окно при клике на кнопку закрытия
document.querySelectorAll('.close').forEach(function(closeButton) {
    closeButton.addEventListener('click', function() {
        const modal = document.getElementById("fileModal");
        modal.style.display = "none";
    });
});
</script>

{% endblock %}
