{% extends 'base.html' %}

{% block title %}
    Обновление статьи
{% endblock %}

{% block content %}

<div class="container mt-5">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>Обновление статьи</h1>
    <form method="post" action="{{ url_for('main.post_update', id=article.id) }}" enctype="multipart/form-data">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>
        <input type="hidden" name="existing_file" value="{{ article.file }}">

        <div class="form-group">
            <label>Выберите место публикации:</label><br>
            <input type="radio" id="all" name="groups" value="all">
            <label for="all">Все</label><br>
            {% set displayed_groups = {} %}
            {% for group in groups %}
                {% if group.id not in displayed_groups %}
                    <input type="radio" id="group_{{ group.id }}" name="groups" value="{{ group.id }}" {% if group.id in selected_groups %}checked{% endif %}>
                    <label for="group_{{ group.id }}">{{ group.name }}</label><br>
                    {% set _ = displayed_groups.update({group.id: True}) %}
                {% endif %}
            {% endfor %}
            <!-- Добавим также группы, автором которых является текущий пользователь -->
            {% for author_group in current_user.authored_groups %}
                {% if author_group.id not in displayed_groups %}
                    <input type="radio" id="author_group_{{ author_group.id }}" name="groups" value="{{ author_group.id }}" {% if author_group.id in selected_groups %}checked{% endif %}>
                    <label for="author_group_{{ author_group.id }}">{{ author_group.name }}</label><br>
                    {% set _ = displayed_groups.update({author_group.id: True}) %}
                {% endif %}
            {% endfor %}
            <!-- Добавим группы, в которых пользователь состоит -->
            {% for group in current_user.groups %}
                {% if group not in current_user.authored_groups %}
                    {% if group.id not in displayed_groups %}
                        <input type="radio" id="user_group_{{ group.id }}" name="groups" value="{{ group.id }}" {% if group.id in selected_groups %}checked{% endif %}>
                        <label for="user_group_{{ group.id }}">{{ group.name }}</label><br>
                        {% set _ = displayed_groups.update({group.id: True}) %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <p>Выбранная группа: {{ selected_groups[0] if selected_groups else None }}</p> <!-- Отображаем выбранную группу -->
        </div>

        <!-- Поле для загрузки изображения -->
        <label for="file" class="btn btn-primary join-code-input">
            Выберите новые изображения
            <input type="file" name="file" id="file" style="display:none" accept="image/*" multiple="true">
        </label>

        <div id="file-preview-container"></div> <!-- Здесь будет отображаться предпросмотр новых изображений -->
        <div id="existing-images-preview">
            {% if article.file %}
                {% for image in article.file.split(',') %}
                    <div class="image-container">
                        <img src="{{ url_for('static', filename='post_pictures/' + image) }}" class="img-preview post-image-edit">
                        <form method="post" class="delete-form" action="{{ url_for('main.post_update', id=article.id) }}">
                            <input type="hidden" name="delete_image" value="{{ image }}">
                            <button type="submit" class="btn btn-danger btn-sm delete-btn">Удалить</button>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <!-- Форма для отправки данных обновления статьи -->
        <button type="submit" class="btn btn-success btn-update">Обновить</button>
    </form>
</div>

<script>
document.getElementById('file').addEventListener('change', function(e) {
    const files = e.target.files;
    const previewContainer = document.getElementById('file-preview-container');

    // Очищаем контейнер предпросмотра перед добавлением новых изображений
    previewContainer.innerHTML = '';

    // Перебираем загруженные файлы и создаем превью для каждого из них
    for (const file of files) {
        const reader = new FileReader();

        reader.onload = function(event) {
            const imgElement = document.createElement('img');
            imgElement.src = event.target.result;
            imgElement.classList.add('img-preview', 'post-image-edit');

            // Создаем контейнер для изображения и кнопки удаления
            const imageContainer = document.createElement('div');
            imageContainer.classList.add('image-container');
            imageContainer.appendChild(imgElement);

            // Создаем кнопку удаления
            const deleteButton = document.createElement('button');
            deleteButton.textContent = 'Удалить';
            deleteButton.classList.add('btn', 'btn-danger', 'btn-sm', 'delete-btn');
            deleteButton.addEventListener('click', function() {
                deleteImage(file.name);
                imageContainer.remove(); // Удаляем изображение из DOM после удаления
            });

            // Добавляем кнопку удаления в контейнер предпросмотра
            imageContainer.appendChild(deleteButton);
            previewContainer.appendChild(imageContainer);
        };

        // Читаем файл как Data URL
        reader.readAsDataURL(file);
    }
});
</script>

{% endblock %}
