{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
<div class="container mt-5 perenos">
    {% if get_flashed_messages() %}
        <ul class="flashes">
            {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="d-flex align-items-center mb-3">
        {% if article.author.file %}
            <img class="img-avatar mr-2" src="{{ url_for('static', filename='avatars/' + article.author.file) }}" alt="{{ article.author.login }} Avatar">
        {% else %}
            <img class="img-avatar mr-2" src="{{ url_for('static', filename='avatars/default-avatar.png') }}" alt="Default Avatar">
        {% endif %}
        <h1>{{ article.title }}</h1>
    </div>

    <div class="alert alert-info perenos">
        <p>{{ article.text }}</p>
        <p><b>Дата: {{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/del" class="btn btn-danger">Удалить</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
</div>
{% endblock %}
