{% extends 'base.html' %}

{% block title %}
    Обновление статьи
{% endblock %}

{% block content %}

<div class="container mt-5">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h1>Обновление статьи</h1>
    <form id="update-form" method="post" action="{{ url_for('main.post_update', id=article.id) }}" enctype="multipart/form-data" onsubmit="updatePost(event)">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Введите название"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введите анонс">{{ article.intro }}</textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите основной текст">{{ article.text }}</textarea><br>
        <input type="hidden" name="existing_file" value="{{ article.file }}">

        <div class="form-group">
            <label>Выберите место публикации:</label><br>
            <input type="radio" id="all" name="groups" value="all">
            <label for="all">Все</label><br>
            {% set displayed_groups = {} %}
            {% for group in groups %}
                {% if group.id not in displayed_groups %}
                    <input type="radio" id="group_{{ group.id }}" name="groups" value="{{ group.id }}" {% if group.id in selected_groups %}checked{% endif %}>
                    <label for="group_{{ group.id }}">{{ group.name }}</label><br>
                    {% set _ = displayed_groups.update({group.id: True}) %}
                {% endif %}
            {% endfor %}
            <!-- Добавим также группы, автором которых является текущий пользователь -->
            {% for author_group in current_user.authored_groups %}
                {% if author_group.id not in displayed_groups %}
                    <input type="radio" id="author_group_{{ author_group.id }}" name="groups" value="{{ author_group.id }}" {% if author_group.id in selected_groups %}checked{% endif %}>
                    <label for="author_group_{{ author_group.id }}">{{ author_group.name }}</label><br>
                    {% set _ = displayed_groups.update({author_group.id: True}) %}
                {% endif %}
            {% endfor %}
            <!-- Добавим группы, в которых пользователь состоит -->
            {% for group in current_user.groups %}
                {% if group not in current_user.authored_groups %}
                    {% if group.id not in displayed_groups %}
                        <input type="radio" id="user_group_{{ group.id }}" name="groups" value="{{ group.id }}" {% if group.id in selected_groups %}checked{% endif %}>
                        <label for="user_group_{{ group.id }}">{{ group.name }}</label><br>
                        {% set _ = displayed_groups.update({group.id: True}) %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <p>Выбранная группа: {{ selected_groups[0] if selected_groups else None }}</p> <!-- Отображаем выбранную группу -->
        </div>

        <!-- Поле для загрузки изображения -->
        <label for="file" class="btn btn-primary join-code-input">
            Выберите новые изображения
            <input type="file" name="file" id="file" style="display:none" accept="image/*" multiple="true">
        </label>

        <div id="file-preview-container"></div> <!-- Здесь будет отображаться предпросмотр новых изображений -->
        <div id="existing-images-preview">
            {% if article.file %}
                {% for image in article.file.split(',') %}
                <div class="image-container">
                    <img src="{{ url_for('static', filename='post_pictures/' + image) }}" class="img-preview post-image-edit">
                    <form id="delete-image-form" method="post" style="display: inline;" onsubmit="deleteImage('{{ image }}'); return false;">
                        <input type="hidden" name="_method" value="DELETE"> <!-- Для отправки DELETE-запроса -->
                        <input type="hidden" name="filename" value="{{ image }}">
                        <button type="submit" class="btn btn-danger btn-sm delete-btn" onclick="return confirm('Вы уверены, что хотите удалить это изображение?')">Удалить</button>
                    </form>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-update" onclick="updatePost('update-form')">Обновить</button>
    </form>
</div>

<script>
function updatePost(formId) {
    let form = document.getElementById(formId); // Получить форму по идентификатору
    let formData = new FormData(form); // Получить данные формы

    fetch(form.action, {
        method: 'POST',
        body: formData,
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Ошибка обновления поста');
        }
        return response.json();
    })
    .then(data => {
        alert(data.message);
        // Перенаправить на страницу деталей поста или выполнить другие действия
    })
    .catch(error => {
        console.error('Ошибка:', error);
        alert('Произошла ошибка при обновлении поста');
    });
}

// JavaScript функция для удаления картинки
function deleteImage(image) {
    fetch(`/posts/{{ article.id }}/delete_image/${image}`, {
        method: 'DELETE', // Метод DELETE для удаления картинки
        headers: {
            'Content-Type': 'application/json',
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Ошибка удаления изображения');
        }
        return response.json();
    })
    .then(data => {
        alert(data.message);
        location.reload(); // Перезагрузить страницу после успешного удаления
    })
    .catch(error => {
        console.error('Ошибка:', error);
        alert('Произошла ошибка при удалении изображения');
    });
}
</script>

{% endblock %}
