{% extends 'base.html' %}

{% block title %}
    Профиль пользователя {{ user.login }}
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="profile-left">
        <h1>Это страница профиля {{ user.login }}</h1>
        <img class="profile-avatar" src="{{ user.avatar_url() }}" alt="{{ user.login }} Avatar"> <br>

        {% if user.description %}
            <p class="user-description">{{ user.description }}</p>
        {% endif %}

        <p>
            <strong>Likes: <span id="like-count-{{ user.id }}">{{ user.likes_received.count() }}</span></strong>
            {% if current_user.is_authenticated and current_user.id != user.id %}
                <button id="like-button-{{ user.id }}" onclick="toggleLike({{ user.id }})" class="btn btn-primary">
                    {% if current_user.has_liked_user(user.id) %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
            {% endif %}
        </p>

        {% if user.id == current_user.id %}
            <a class="button profile-redact" href="{{ url_for('main.user_update') }}">Редактировать профиль</a>
            <a class="button quit" href="{{ url_for('main.logout') }}">Выйти из аккаунта</a>
        {% endif %}
    </div>
    <div class="profile_posts">
        <h1>Посты пользователя:</h1>

        {% for post in user.user_articles %}
            {% if not post.hidden or current_user == post.author %}
                <div class="alert alert-info perenos">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.intro }}</p>
                    <p><b>Дата: {{ post.date.date() }}</b></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="/posts/{{ post.id }}" class="btn btn-warning btn-det">Детальнее</a>

                        {% if current_user.is_authenticated and current_user.id == post.author.id %}
                            <form class="btn-del" method="post" action="{{ url_for('main.post_delete', id=post.id) }}?next={{ request.path }}">
                                {{ form.hidden_tag() }}
                                <button type="submit" class="btn btn-danger btn-sm btn-del2">Удалить</button>
                            </form>

                            <form class="btn-hide" method="post" action="{{ url_for('main.hide_post', id=post.id) }}?next={{ request.path }}">
                                {{ form.hidden_tag() }}
                                <button type="submit" class="btn btn-secondary btn-sm">Скрыть</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% if not user.user_articles %}
            <p>У пользователя ещё нет постов</p>
        {% endif %}
    </div>
</div>


{% endblock %}
